<div id="leader-modal" class="modal">
    <div class="modal-content" style="transform: translateX(100%);z-index: 8000;">
        <span class="close" aria-label="Close">
            <img class="js-tosvg" src="/assets/img/icon/close.svg" alt="close" />
        </span>
        <div class="main-content">
            <img src="/assets/img/modal-bg-left.png"
                 alt="vector-top"
                 class="modal-verctor-top" />
            <img src="/assets/img/modal-bg-right.png"
                 alt="vector-bottom"
                 class="modal-verctor-bottom" />
            <div class="modal-member-img">
                <picture>
                    <source media="(min-width:600px)"
                            srcset="" />
                    <img id="leader-modal-img" src="" alt="member" />
                </picture>
            </div>
            <div class="headings">
                <h5 id="leader-modal-title" class="heading5 modal-title"></h5>
                <p class="body1 modal-designation" id="leader-modal-designation"></p>
            </div>
        </div>
        <div class="modal-description">
            <p class="body1 modal-para" id="leader-modal-description">

            </p>
        </div>
    </div>
</div>
